.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group label:nth-child(2) {
  padding-top: 20px;
}